<div class="container px-5 mx-0">
  <%= render 'error', book: @newbook %>
  <div class="row">
    <div class="col-md-3">
      <%= render 'newform', book: @newbook, user: @user %>
    </div>
    <div class="col-md-9 pl-5">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.profile_image, size: "100x100" %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td><%= link_to @book.title %></td>
            <td><%= @book.body %></td>
            <% if @user==current_user %>
              <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-danger" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

